@import "tailwindcss";

/* @layer theme, base, components, utilties;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities); */

@theme {
  /* 디자인 토큰 구성 */
  --color-euid-gray-200: #d7dadf;
  --color-primary-500: #2402f6;
  --color-primary-700: #1e1179;
  --color-mint-200: #e6f7ff;
  --color-cart-gray-100: #eee;
  --color-cart-gray-300: #b3b3b3;
  --color-cart-gray-400: #999;
  --color-cart-gray-700: #4d4d4d;
  --color-cart-gray-900: #1a1a1a;
}

@utility wrapper {
  @apply min-w-80 max-w-180 mx-auto;
}
